<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

  <script type="text/javascript">
    // 作業区分と件名/客先名が入力済みの場合、submitボタンを有効化
    function check(){
      var subjectLine = document.getElementById('subjectLine').value;
      var categoryId = document.getElementById('categoryId').value;

      if(subjectLine==="" || categoryId===""){
        console.log("未入力アリ");
      }else{
        // submitボタンの有効化
        document.schedule_form.submit();
      }
    }   
  </script>
  <title>行動表示板-スケジュール入力-</title>
</head>
<body>

    <!-- Main -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid px-0">
          <!-- DataTales -->
          <div class="card my-0">
            <div class="card-body px-1 py-0">
              <div class="table m-0">
                <form th:action="@{/process-add-schedule}" th:object="${schedule}" name="schedule_form"
                  method="post" target="_parent" autocomplete="off" onsubmit="return false">
                  <input type="hidden" th:field="*{scheduleId}">
                  <input type="hidden" th:field="*{groupId}">
                  <input type="hidden" th:field="*{memberId}">
                  <input type="hidden" th:field="*{mainDate}">
                  <input type="hidden" th:field="*{scheduleGroupId}">
                  <input type="hidden" th:field="*{createdBy}">
                  <input type="hidden" th:field="*{updatedBy}">

                  <div class="form-row">
                    <div class="form-group col-6 mt-0 mb-1">
                      <span class="badge badge-pill badge-danger ml-1 mr-0 my-0">必須</span>
                      <label for="categoryId" class="small font-weight-bolder m-0">作業区分
                      </label>
                      <select class="form-control form-control-sm" id="categoryId" name="categoryId" th:errorclass="is-invalid" th:disabled="${editControl}">
                        <!-- <option th:hidden disabled selected>選択してください</option> -->
                        <option value="">選択してください</option>
                        <option th:each="scheduleCategoryMap : ${pullDownContentService.prepareScheduleCategoryMap()}"
                          th:value="${scheduleCategoryMap.key}"
                          th:text="${scheduleCategoryMap.value}"
                          th:selected="${scheduleCategoryMap.key == schedule.getCategoryId()}"> 
                        </option>
                      </select>
                      <div class="invalid-feedback" th:errors="*{categoryId}">
                      </div>
                    </div>

                    <div class="form-group col-6 mt-0 mb-1">
                      <label for="statusId" class="small font-weight-bolder m-0">状態</label>
                      <select class="form-control form-control-sm" id="statusId" name="statusId" th:errorclass="is-invalid" th:disabled="${editControl}">
                        <option th:each="scheduleStatusMap : ${pullDownContentService.prepareScheduleStatusMap()}"
                          th:value="${scheduleStatusMap.key}"
                          th:text="${#strings.substringAfter(scheduleStatusMap.value,'-')}"
                          th:selected="${scheduleStatusMap.key == schedule.getStatusId()}"> 
                        </option>
                      </select>
                      <div class="invalid-feedback" th:errors="*{statusId}">
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-12 mt-0 mb-1">
                      <span class="badge badge-pill badge-danger ml-1 mr-0 my-0">必須</span>
                      <label for="subjectLine" class="small font-weight-bolder m-0">件名
                      </label>
                      <input type="text" class="form-control form-control-sm changeform" id="subjectLine"
                        th:errorclass="is-invalid" th:field="*{subjectLine}" th:readonly="${editControl}">
                      <div class="invalid-feedback" th:errors="*{subjectLine}">
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-12 mt-0 mb-1">
                      <label for="content" class="small font-weight-bolder mx-1 my-0">作業内容</label>
                      <textarea class="form-control form-control-sm changeform" id="content"
                        th:errorclass="is-invalid" th:field="*{content}" th:readonly="${editControl}" rows="1"></textarea>
                      <div class="invalid-feedback" th:errors="*{content}">
                      </div>
                    </div>
                  </div>

                  <label class="small font-weight-bolder mx-1 mt-1 mb-0" id="memberListLabel">作業者一覧
                  <span class="small m-0">hogehoge</span>
                  </label>
                  <div class="form-row">
                    <div class="form-group col-6 mt-0 mb-1">
                      <select class="form-control form-control-sm" id="addMemberId1st" name="addMemberId1st" th:errorclass="is-invalid" th:disabled="${editControl}">
                        <option th:each="groupMemberMap : ${pullDownContentService.prepareGroupMemberMap(groupId)}"
                          th:value="${groupMemberMap.key}"
                          th:text="${groupMemberMap.value}"
                          th:selected="${groupMemberMap.key == schedule.addMemberId1st}"> 
                        </option>
                      </select>
                      <div class="invalid-feedback" th:errors="*{addMemberId1st}"></div>
                    </div>

                    <div class="form-group col-6 mt-0 mb-1">
                      <select class="form-control form-control-sm" id="addMemberId2nd" name="addMemberId2nd" th:errorclass="is-invalid" th:disabled="${editControl}">
                        <option th:each="groupMemberMap : ${pullDownContentService.prepareGroupMemberMap(groupId)}"
                          th:value="${groupMemberMap.key}"
                          th:text="${groupMemberMap.value}"
                          th:selected="${groupMemberMap.key == schedule.addMemberId2nd}"> 
                        </option>
                      </select>
                      <div class="invalid-feedback" th:errors="*{addMemberId2nd}"></div>
                    </div>

                    <div class="form-group col-6 mt-0 mb-1">
                      <select class="form-control form-control-sm" id="addMemberId3rd" name="addMemberId3rd" th:errorclass="is-invalid" th:disabled="${editControl}">
                        <option th:each="groupMemberMap : ${pullDownContentService.prepareGroupMemberMap(groupId)}"
                          th:value="${groupMemberMap.key}"
                          th:text="${groupMemberMap.value}"
                          th:selected="${groupMemberMap.key == schedule.addMemberId3rd}"> 
                        </option>
                      </select>
                      <div class="invalid-feedback" th:errors="*{addMemberId3rd}"></div>
                    </div>
                    <div class="form-group col-6 mt-0 mb-1">
                      <select class="form-control form-control-sm" id="addMemberId4th" name="addMemberId4th" th:errorclass="is-invalid" th:disabled="${editControl}">
                        <option th:each="groupMemberMap : ${pullDownContentService.prepareGroupMemberMap(groupId)}"
                          th:value="${groupMemberMap.key}"
                          th:text="${groupMemberMap.value}"
                          th:selected="${groupMemberMap.key == schedule.addMemberId4th}"> 
                        </option>
                      </select>
                      <div class="invalid-feedback" th:errors="*{addMemberId4th}"></div>
                    </div>
                    <div class="form-group col-6 mt-0 mb-1">
                      <select class="form-control form-control-sm" id="addMemberId5th" name="addMemberId5th" th:errorclass="is-invalid" th:disabled="${editControl}">
                        <option th:each="groupMemberMap : ${pullDownContentService.prepareGroupMemberMap(groupId)}"
                          th:value="${groupMemberMap.key}"
                          th:text="${groupMemberMap.value}"
                          th:selected="${groupMemberMap.key == schedule.addMemberId5th}"> 
                        </option>
                      </select>
                      <div class="invalid-feedback" th:errors="*{addMemberId5th}"></div>
                    </div>
                  </div>
                  
                  <label class="small font-weight-bolder mx-1 mt-1 mb-0" id="workDateListLabel">作業日一覧
                  <span class="small m-0" id="workDateList">fugefuge</span>
                  </label>
                  <div class="form-row">
                    <div class="form-group col-6 mt-0 mb-1">
                      <input type="date" class="form-control form-control-sm" id="addDate1st"
                        th:errorclass="is-invalid" th:field="*{addDate1st}" th:readonly="${editControl}">
                      <div class="invalid-feedback" th:errors="*{addDate1st}">
                      </div>
                    </div>
                    <div class="form-group col-6 mt-0 mb-1">
                      <input type="date" class="form-control form-control-sm" id="addDate2nd"
                        th:errorclass="is-invalid" th:field="*{addDate2nd}" th:readonly="${editControl}">
                      <div class="invalid-feedback" th:errors="*{addDate2nd}">
                      </div>
                    </div>
                    <div class="form-group col-6 mt-0 mb-1">
                      <input type="date" class="form-control form-control-sm" id="addDate3rd"
                        th:errorclass="is-invalid" th:field="*{addDate3rd}" th:readonly="${editControl}">
                      <div class="invalid-feedback" th:errors="*{addDate3rd}">
                      </div>
                    </div>
                    <div class="form-group col-6 mt-0 mb-1">
                      <input type="date" class="form-control form-control-sm" id="addDate4th"
                        th:errorclass="is-invalid" th:field="*{addDate4th}" th:readonly="${editControl}">
                      <div class="invalid-feedback" th:errors="*{addDate4th}">
                      </div>
                    </div>
                    <div class="form-group col-6 mt-0 mb-1">
                      <input type="date" class="form-control form-control-sm" id="addDate5th"
                        th:errorclass="is-invalid" th:field="*{addDate5th}" th:readonly="${editControl}">
                      <div class="invalid-feedback" th:errors="*{addDate5th}">
                      </div>
                    </div>
                  </div>
                  
                  <div class="form-row">
                    <div class="form-group col-12 my-0">
                      <label for="memo" class="small font-weight-bolder mx-1 my-0">メモ</label>
                      <textarea class="form-control form-control-sm changeform" id="memo" th:errorclass="is-invalid" th:field="*{memo}" rows="1"></textarea>
                      <div class="invalid-feedback" th:errors="*{memo}">
                      </div>
                    </div>
                  </div>

                  <!-- Divider -->
                  <hr class="sidebar-divider my-1">

                  <div class="form-row">
                    <div class="form-group col-6 my-1">
                      <input class="btn btn-primary btn-block btn-sm py-1" type="button" value="保存" onclick="check();">
                      <!-- <input class="btn btn-primary btn-block py-1" type="submit" value="保存"> -->
                    </div>
                    <div class="form-group col-6 my-1">
                      <input class="btn btn-secondary btn-block btn-sm py-1" type="reset" value="リセット">
                    </div>
                  </div>
                </form>

                <div th:unless="${scheduleId == null}" class="form-row">
                  <div class="form-group col-6  my-0">
                    <a th:href="@{/delete-schedule/{scheduleId}(scheduleId=*{scheduleId})}" class="btn btn-outline-danger btn-block btn-sm mt-0 py-1" onClick="return disp()" target="_parent">
                      <span class="text">削除</span>
                    </a>
                  </div>
                  <div class="form-group col-6  my-0">
                    <a th:href="@{'/add-schedule/' + ${schedule.getGroupId()} + '/' + ${schedule.getMemberId()} + '/' + ${schedule.getMainDate()}}"
                      class="btn btn-outline-success btn-block btn-sm mt-0 py-1">
                      <span class="text" style="font-size: 0.75rem;">新規登録フォームを開く</span>
                    </a>
                  </div>
                </div>

                <div th:if="${scheduleId != null}">
                  <div class="text-right mx-1 my-0">
                    <span class="small" th:text="${'最終更新 : ' + updateInfo}"></span>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End of Main -->
    
  <script>
    // 削除ボタンクリック時の確認表示
    function disp(){  
      // 「OK」時の処理開始 ＋ 確認ダイアログの表示
      if(window.confirm('予定を削除しますか？')){
      }
      else{
        window.alert('キャンセルしました。'); // 警告ダイアログを表示
        return false;
      }
    }

    // 作業区分で「フロント**」を選択時に件名/客先名を補完
    function inputChange(event){
      // console.log(event.currentTarget.value);
      // 取得したcategoryIdの値をsubjectLineに渡す
      var subjectLine = document.getElementById('subjectLine');
      //件名にデータがない場合、処理する
      if(!subjectLine.value && event.currentTarget.value.includes(3)){
        subjectLine.value = 'ｺｰﾙｾﾝﾀｰ';
      }else if(!subjectLine.value && event.currentTarget.value.includes(8)){
        subjectLine.value = '在宅';
      }else if(!subjectLine.value && event.currentTarget.value.includes(10)){
        subjectLine.value = '社内便当番';
      }
    }
    // categoryIdの入力値を取得
    let categoryId = document.getElementById('categoryId');
    categoryId.addEventListener('change', inputChange); 

    // 作業区分と件名/客先名が入力済みの場合、submitボタンを有効化
    function check(){
      var subjectLine = document.getElementById('subjectLine').value;
      var categoryId = document.getElementById('categoryId').value;

      var memberList = [];
      memberList.push(document.getElementById('addMemberId1st').value);
      memberList.push(document.getElementById('addMemberId2nd').value);
      memberList.push(document.getElementById('addMemberId3rd').value);
      memberList.push(document.getElementById('addMemberId4th').value);
      memberList.push(document.getElementById('addMemberId5th').value);
      var memberListLength = memberList[0].length + memberList[1].length
                            + memberList[2].length + memberList[3].length
                            + memberList[4].length;
      console.log('memberListLength : '+ memberListLength);

      var workDateList = [];
      workDateList.push(document.getElementById('addDate1st').value);
      workDateList.push(document.getElementById('addDate2nd').value);
      workDateList.push(document.getElementById('addDate3rd').value);
      workDateList.push(document.getElementById('addDate4th').value);
      workDateList.push(document.getElementById('addDate5th').value);
      var workDateListLength = workDateList[0].length + workDateList[1].length
                              + workDateList[2].length + workDateList[3].length
                              + workDateList[4].length;

      console.log('workDateListLength : '+ workDateListLength);

      if(subjectLine==="" || categoryId==="" || memberListLength === 0 || workDateListLength === 0){
        if(subjectLine==="" || categoryId===""){
          document.getElementById('subjectLine').style.backgroundColor = '#ffe4e1';
          document.getElementById('categoryId').style.backgroundColor = '#ffe4e1';
        }else if(memberListLength === 0){
          document.getElementById('memberListLabel').style.backgroundColor = '#ffe4e1';
          document.getElementById('subjectLine').style.backgroundColor = 'transparent';
          document.getElementById('categoryId').style.backgroundColor = 'transparent';
        }else if(workDateListLength === 0){
          document.getElementById('workDateListLabel').style.backgroundColor = '#ffe4e1';
          document.getElementById('subjectLine').style.backgroundColor = 'transparent';
          document.getElementById('categoryId').style.backgroundColor = 'transparent';
          document.getElementById('memberListLabel').style.backgroundColor = 'transparent';
        }
      }else{
        // submitボタンの有効化
        document.schedule_form.submit();
      }
    } 

    // コメント書く
    function init(){
      $('.changeform').on('change', window.parent.onChangedFormContent)
    }

    // コメント書く
    window.addEventListener('load',function(){
      init();
    });
    
  </script>

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
