<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <title>行動表示板</title>
</head>
<body class="bg-light">

    <!-- Main -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7 col-md-8">
              <!-- DataTales -->
              <div class="card shadow my-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-dark">
                    パスワード変更
                  </h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <form th:action="@{/update-password}" th:object="${user}" method="post" name="password_form" onsubmit="return false" novalidate>
                      <input type="hidden" th:field="*{id}">

                      <div class="form-group mb-4">
                        <input type="hidden" class="form-control" th:errorclass="is-invalid" th:field="*{username}">
                        <div class="invalid-feedback" th:errors="*{username}"></div>
                      </div>

                      <div class="form-group mb-4">
                        <input type="hidden" class="form-control" th:errorclass="is-invalid" th:field="*{groupId}">
                        <div class="invalid-feedback" th:errors="*{groupId}"></div>
                      </div>

                      <div class="form-group mb-4">
                        <input type="hidden" class="form-control" th:errorclass="is-invalid" th:field="*{familyName}">
                        <div class="invalid-feedback" th:errors="*{familyName}"></div>
                      </div>

                      <div class="form-group mb-4">
                        <input type="hidden" class="form-control" th:errorclass="is-invalid" th:field="*{firstName}">
                        <div class="invalid-feedback" th:errors="*{firstName}"></div>
                      </div>

                      <div class="form-group mb-4">
                        <input type="hidden" class="form-control" th:errorclass="is-invalid" th:field="*{role}">
                        <div class="invalid-feedback" th:errors="*{role}"></div>
                      </div>

                      <div class="form-group mb-4">
                        <label for="password">
                          <span class="badge badge-danger">必須</span>
                          パスワード
                          <span class="text-danger small" id="passwordAlert"></span>
                        </label>
                        <input type="password" class="form-control" th:errorclass="is-invalid" th:field="*{password}" placeholder="パスワード(8文字以上)">
                        <div class="invalid-feedback" th:errors="*{password}"></div>
                      </div>
                    
                      <!-- Divider -->
                      <hr class="sidebar-divider my-4">
                    
                      <button class="btn btn-dark btn-block mb-3" type="submit" onclick="check();">
                        <span class="text">更新</span>
                      </button>

                    </form>
                    
                    <a class="btn btn-white btn-outline-secondary btn-block" th:href="@{/schedule-board}" role="button">戻る</a>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Main -->

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  
  <script type="text/javascript">
  // passwordのvalidation
  function check(){
    var password = document.getElementById('password').value;

    if(password.length < 8){
      console.log("未入力アリ");
      var passwordAlert = document.getElementById("passwordAlert");
      passwordAlert.innerHTML = "文字数が足りません"
    }else{
      disp();
      // submitボタンの有効化
      document.password_form.submit();
    }
  }   

  function disp(){
    // 「OK」時の処理開始 ＋ 確認ダイアログの表示
    if(window.confirm('パスワードを更新しますか？')){

    }
    else{
      window.alert('キャンセルしました。'); // 警告ダイアログを表示
      return false;
    }
  }  
</script>

</body>
</html>