<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <title>行動表示板 メンバー情報登録/変更-</title>
</head>
<body>

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid px-1 col-xl-6 col-lg-8 col-md-9">

          <div class="card shadow my-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">
                メンバー情報登録/変更
              </h6>
            </div>
            <div class="card-body">
              <div class="table">
                <form th:action="@{/update-member}" th:object="${groupMember}"
                  method="post">
                  
                  <input type="hidden" th:field="*{id}">
                  <!-- 編集時はグループ名を編集不可とするため、groupIdをhiddenで送る -->
                  <div th:if="${groupMember.getId() != null}">
                    <input type="hidden" th:field="*{groupId}">
                  </div>

                  <div class="form-row">
                    <div class="form-group col-4 my-1">
                      <label for="memberId">社員番号</label>
                      <input type="text" class="form-control"
                        th:errorclass="is-invalid" th:field="*{memberId}" placeholder="社員番号 (6桁)" th:readonly="${editControl}">
                      <div class="invalid-feedback" th:errors="*{memberId}">
                      </div>
                    </div>

                    <div class="form-group col-4 my-1">
                      <label for="familyName">姓</label>
                      <input type="text" class="form-control"
                        th:errorclass="is-invalid" th:field="*{familyName}">
                      <div class="invalid-feedback" th:errors="*{familyName}">
                      </div>
                    </div>

                    <div class="form-group col-4 my-1">
                      <label for="firstName">名</label>
                      <input type="text" class="form-control"
                        th:errorclass="is-invalid" th:field="*{firstName}">
                      <div class="invalid-feedback" th:errors="*{firstName}">
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-4 my-1">
                      <label for="groupId">所属グループ</label>
                      <select class="form-control" id="groupId" name="groupId" th:errorclass="is-invalid" th:disabled="${editControl}">
                        <option th:hidden disabled selected>選択してください</option>
                        <option th:each="groupMap : ${pullDownContentService.prepareGroupMap()}"
                          th:value="${groupMap.key}"
                          th:text="${groupMap.value}"
                          th:selected="${groupMap.key == selectedGroup}"> 
                        </option>
                      </select>
                      <div class="invalid-feedback" th:errors="*{groupId}">
                      </div>
                    </div>
                    <div class="form-group col-3 my-1">
                      <label for="displayFlag">表示/非表示</label>
                      <select class="form-control" id="displayFlag" name="displayFlag" th:errorclass="is-invalid">
                        <option th:hidden disabled selected>選択してください</option>
                        <option th:each="displayFlagMap : ${pullDownContentService.prepareDisplayMap()}" 
                          th:value="${displayFlagMap.key}" 
                          th:text="${displayFlagMap.value}"
                          th:selected="${displayFlagMap.key == selectedDisplayFlag}">
                        </option>
                      </select>
                      <div class="invalid-feedback" th:errors="*{displayFlag}">
                      </div>
                    </div>

                    <div class="form-group col-2 my-1">
                      <label for="displayOrder">表示順</label>
                      <input type="text" class="form-control"
                        th:errorclass="is-invalid" th:field="*{displayOrder}">
                      <div class="invalid-feedback" th:errors="*{displayOrder}">
                      </div>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col-12 my-1">
                      <label for="memo">メモ</label>
                      <textarea class="form-control" id="memo" th:errorclass="is-invalid" th:field="*{memo}" rows="2"></textarea>
                      <div class="invalid-feedback" th:errors="*{memo}">
                      </div>
                    </div>
                  </div>
                 
                  <hr class="sidebar-divider my-1">

                  <button class="btn btn-primary btn-block col-md-12">
                    <i class="fas fa-edit fa-fw"></i>
                    <span class="text">保存</span>
                  </button>
                </form>
                <a class="btn btn-white btn-outline-secondary btn-block my-2" th:href="@{/admin/employee-list}" role="button">戻る</a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
