@charset "UTF-8";

h4{
	padding:10px;
}

li{
  border-bottom:1px dotted #000;
  list-style:none;
  padding:10px;
  width:800px;
}
a{
  color:#000;
  text-decoration:none;
  padding:10px;
}
span{
  /* background-color:#2388b8; */
  border-radius:3px;
  color:#000;
  display:inline-block;
  margin-right:20px;
  padding:5px;
}
time{
  display: inline-block;
  font-weight: bold;
  margin-right:40px;
}
p{
  /* color:#1c448d; */
  display: inline-block;
  text-decoration:underline;
}


